<tr class="nested-fields">

  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>

  <td>
    <%= f.collection_select :servicio_id,
                            Servicio.all,
                            :id,
                            :nombre,
                            { include_blank: "Seleccione" },
                            class: "form-select select-servicio" %>
  </td>

  <td>
    <%= f.collection_select :empleado_id,
                            Empleado.where(id: f.object.empleado_id),
                            :id,
                            :nombre,
                            { include_blank: "Seleccione empleado" },
                            class: "form-select select-empleado",
                            data: { selected: f.object.empleado_id } %>
  </td>

  <td>
    <%= f.text_area :tarea,
                    rows: 1,
                    class:"form-control",
                    placeholder:"Tarea asignada" %>
  </td>

  <td class="text-center">
    <button type="button" class="btn btn-danger remove_fields">X</button>
  </td>

</tr>
